---
Title: Wormies AU Helpers
NoSidebar: true
NoContainer: false
NoGutter: false
---

<div class="container-fluid">
    <h1>What is it?</h1>
    <p>
        Wormies AU Helpers is a collection of helper scripts to make maintaining packages
        using AU even easier.
    </p>

    <h2>Where to get it?</h2>
    <p>
        Officially published versions are available on our
        <a href="https://github.com/WormieCorp/Wormies-AU-Helpers/releases/">GitHub releases page</a>,
        on <a href="https://chocolatey.org/packages/wormies-au-helpers">chocolatey</a> as well as on the
        <a href="https://www.powershellgallery.com/packages/Wormies-AU-Helpers">PowerShell Gallery</a>.
    </p>
    <p>
        Deveopment versions can be installed through chocolatey with the command
        <code>choco install wormies-au-helpers --source https://www.myget.org/F/wormie-nugets --pre</code>, and can
        be viewed <a href="https://www.myget.org/feed/wormie-nugets/package/nuget/wormies-au-helpers">here</a>.
        These versions can also be installed using the latest
        <a href="https://ci.appveyor.com/project/admiringworm/wormies-au-helpers/build/artifacts">AppVeyor Artifacts</a>.
    </p>
</div>
